html, body {
    margin: 0;
    padding: 0;
    border: 0px !important;
    background-color: #000000;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* does not work for now */
img{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}
